* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url("book-wall.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
}



header {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-size: 2vw;
}


header h1 {
    text-align: center;
    font-weight: bold;
    color: #F5F5F5;
}

#user_input_header {
    color: #615055;
    width: 100%;
    text-align: center;
    font-size: 2vw;
    padding-top: 80px;
}


#OptionButton {
    position: absolute;
    display: flex;
    top: 2em;
    left: 91%;
    opacity: 80%;
    border-radius: 5em;
    min-height: 40px;
    width: 7vw;
    max-width: 150px;
    background-color: #E6B589 ;
    color: #615055;
    font-size: 16px;
    text-align: center;  align-items: center;
    justify-content: center;
    text-decoration: none;
}



#OptionButton:hover {
opacity: 100%;
}




#loginForm{
    width: 23vw;
    align-items: center;
    justify-content: center;
    height: 70px;
    white-space: nowrap;
}


 input{
    border-radius: 5em;
    height: 55px;
    width: 100%;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    padding-left: 30px;
    left: -30px;

}


#signUpForm {
    width: 23vw;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding-top: 5px;
}

#signUpForm input {
margin-top: 23px;
}

button {
    border: 0;
    outline: 0;
    border-radius: 5em;
    min-height: 40px;
    width: 7vw;
    max-width: 150px;
    box-sizing: border-box;
    background-color: #E6B589 ;
    position: relative;
    left: calc(-8vw - 30px);
    color: #615055;
    font-weight: bold;
}

button:hover {
    background-color: #DB9557 ;
}

.start_page {
    height: 28vh;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 40px;
}

#loader {
    border: 10px solid #EAF0F6;
    border-radius: 50%;
    border-top: 10px solid #E6B589;
    animation: spinner 4s linear infinite;
    visibility: hidden;
    width: 20px;
    height: 20px;
    position: relative;
    top: -7px;
}

#loader_container {
    display: flex;
    width: 22vw;
    justify-content: center;
    margin-top: 15px;
    position: relative;
    top: 10px;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn img{
width: 40px;
height: 40px;
position: absolute;
top: 20px;
left: 20px;
opacity: 0.8;
}


h2 {
    color: #615055;
    text-align: center;
    justify-content: center;
    width: 50%;
    min-height: 55px;
    font-size: 20px;
    font-size: 2.1vw;
    padding-top: 25px;
    background-color: #F5F5F5;
    border-radius: 40px 40px 0px 0px;
}



.books {
    width: 75vw;
    min-height: calc(65vh - 40px);
    height: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #F5F5F5;
    border-radius: 40px;
    padding: 30px;
}


.book {
    width: 20vw;
    height: 30vh;;
    margin: 20px 0px 5px 0px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.book img {
    max-width: 100%;
    height: 40%;
    margin-bottom: 10px;
}


p {
width: 100%;
min-height: 16px;
text-align: center;
position: relative;
top: 5px;
}

#error{
color: red;
}

.error2 {
position: relative;
top: 48px;
color: red;
height: 10px;
}

.error3 {
position: relative;
top: 80px;
left: -5px;
color: red;
height: 10px;
}

#success {
position: relative;
top: 48px;
color: green;
height: 10px;
}


#FormButton {
left: 31%;
margin-top: 30px;
}

.bookAddForm input, .bookAddForm button {
position: relative;
top: 40px;
}