<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation System</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'styles.css')}}" />
</head>
<body>
<header  id = "start_page_header">
    <a href="/" class="btn"> <img src="static/left-arrow.png" alt="Back to Input Form"></a>
<h1>BOOK RECOMMENDATION SYSTEM</h1>
</header>
<section class = "start_page">
    <form id="signUpForm" method="POST">
        <input type="text" name="userid_input"  required pattern="[0-9]*" maxlength="9"  placeholder="New User ID" >
        <input type="text" name="location_input" placeholder="Location">
        <input type="number" name="age_input" placeholder="Age">
        <button id="FormButton" type="submit">REGISTER</button>
    </form>
    {% if error == 1 %}
        <p class="error2">Registration failed. Choose different user ID.</p>
    {% elif error == 2 %}
        <p id="success"> The user has been registered </p>
    {% endif %}

</section>
</body>

</html>